.photostream-container {
    background-color: #212124;
    width: 65%;
    margin: 30px auto;
}

.photostream-container h2 {
    color: white;
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 14px;
}

.photostream-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid white;
}

/* .photostream-img:hover {

} */

.img-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
